/*  your css code here. If applicable */
*{
padding: 3px
}
#one{
background-color: white; border: gray solid 1px; padding: 9px; margin-bottom: 15px;
}
#two{
background-color: white; border: gray solid 1px; padding: 9px; margin-bottom: 15px;
}